langchain>=0.1.0
langgraph>=0.0.20
langsmith>=0.0.69
streamlit>=1.31.0
transformers>=4.36.0
torch>=2.1.0
python-dotenv>=1.0.0
pydantic>=2.5.0
pydantic-settings
fastapi>=0.109.0
uvicorn>=0.27.0
pytest>=7.4.0
black>=23.12.0
isort>=5.13.0
mypy>=1.8.0
peft
joblib
openai
typing_extensions
langchain-community
sentence-transformers
faiss-cpu
pymupdf
boto3>=1.39.4
botocore>=1.39.4
httpx>=0.28.1
-e .